html {
    height: 100%;
}
body {
position: relative;
min-height:100vh;
}
.btn, .btn:focus, a:focus
{
         outline: none !important;
         box-shadow: none !important;
}
.navbar-toggler:focus
{
         outline: none !important;
         box-shadow: none;
}
.items-header {
    border: 1px solid #DFDFDF;
}

.item-wrapper {
    border-bottom: 1px solid #DFDFDF;
}

@media (max-width: 767px) {
    .item-increase,
    .item-remove {
        border-left: 1px solid #DFDFDF;
    }
}